.hexInput {
	margin: 0.25em;
	padding: 0.25em;
	border: 1px solid;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	width: 7em;
	height: 1em;
}

.colorInput {
	margin: 0.25em;
	padding: 0.25em;
	border: 1px solid;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	width: 2.25em;
	height: 1.5em;
}


