.wrapper {
	border: 1px solid var(--fg);
	margin: 1em;
	padding: 0.25em;
}

.header {
	display: flex;
	align-items: center;
}

.svg {
	color: var(--fg);
	fill: var(--fg);
}

h2 {
	font-size: medium;
}
