.rowsContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.colsContainer {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.row {
	justify-content: center;
	margin: auto;
	padding: 0.5em;
}

.column {
	margin: auto;
	padding: 0.5em;
}
