.previewPane {
	margin: 1em auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: hidden;
	border: 1px solid var(--fg);
}

.windowContainer {
	display: flex;
	flex-direction: row;
}

.column {
	flex-grow: 0;
	width: 45%;
	margin: 1.25%;
	padding: 1.25%;
}
