.topBar {
	background: var(--color1);
	vertical-align: middle;
	padding-left: 0.5em;
}

.wrapper {
	border: 1px solid var(--fg);
	background: var(--bg);
	font-size: 50%;
}

.content {
	overflow: hidden;
	text-overflow: clip;
}
