.textColor0 { color: var(--color0) }
.textColor1 { color: var(--color1) }
.textColor2 { color: var(--color2) }
.textColor3 { color: var(--color3) }
.textColor4 { color: var(--color4) }
.textColor5 { color: var(--color5) }
.textColor6 { color: var(--color6) }
.textColor7 { color: var(--color7) }
.textColor8 { color: var(--color8) }
.textColor9 { color: var(--color9) }
.textColor10 { color: var(--color10) }
.textColor11 { color: var(--color11) }
.textColor12 { color: var(--color12) }
.textColor13 { color: var(--color13) }
.textColor14 { color: var(--color14) }
.textColor15 { color: var(--color15) }
.textColorFG { color: var(--fg) }

.bgColor0 { background: var(--color0) }
.bgColor1 { background: var(--color1) }
.bgColor2 { background: var(--color2) }
.bgColor3 { background: var(--color3) }
.bgColor4 { background: var(--color4) }
.bgColor5 { background: var(--color5) }
.bgColor6 { background: var(--color6) }
.bgColor7 { background: var(--color7) }
.bgColor8 { background: var(--color8) }
.bgColor9 { background: var(--color9) }
.bgColor10 { background: var(--color10) }
.bgColor11 { background: var(--color11) }
.bgColor12 { background: var(--color12) }
.bgColor13 { background: var(--color13) }
.bgColor14 { background: var(--color14) }
.bgColor15 { background: var(--color15) }
.bgColorBG { background: var(--bg) }

html {
	color: var(--fg);
	background: var(--bg);
}
